body{
    background-color: #938c70af;
}
.datos{
    background-color: #ccc;
    box-sizing: border-box;
    padding-top: 20px;
    height: auto;
}
tr{
    background: #999898;
}
label{
    font-weight: bold;
}